/******************************************************************************
 * General styles
 ******************************************************************************/

html {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
  max-width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Times New Roman", "FreeSerif", "Nimbus Roman No9 L";
}

a {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
  cursor: pointer;
}

a:link {
  color: green;
}

a:visited {
  color: green;
}

a:hover {
  color: rgb(9, 53, 201);
}

a:active {
  color: yellow;
}

/******************************************************************************
 * Site elements
 ******************************************************************************/

#site-background {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -5;
}

#app-info {
  position: absolute;
  top: 93%;
  left: 1%;
  margin: auto;
  font-size: 12px;
}

#divComb {
  position: absolute;
  top: 91%;
  left: 21%;
  text-align: center;
}

#divComb #combMinMat,
#divComb #combMaxSup {
  width: 35px;
}

#msgBox {
  position: absolute;
  left: 40%;
  top: 93%;
  visibility: hidden;
}

#msgBox #msg {
  margin: auto;
  font-size: 20px;
  text-align: center;
}

msgText {
  color: green;
  text-decoration: underline;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
  cursor: pointer;
}

msgAlert {
  color: maroon;
  text-decoration: underline;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
  cursor: pointer;
}

#cellDesc {
  position: absolute;
  left: 40%;
  top: 92%;
}

#cellDesc #descText {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
  font-size: 13px;
  color: darkblue;
  cursor: default;
}

#box2 {
  background: -webkit-linear-gradient(left top, rgb(211, 211, 241), rgb(111, 181, 181)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgb(211, 211, 241), rgb(111, 181, 181)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgb(211, 211, 241), rgb(111, 181, 181)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgb(211, 211, 241), rgb(111, 181, 181)); /* Standard syntax */
  opacity: 0.9;
  width: 500px;
  height: 600px;
  border-style: solid;
  border-radius: 15px 0px 15px 15px;
  border-color: rgb(29,173,221);
  border-width: 2px;
  position: absolute;
  top: 30px;
  right: -488px;
  z-index:4;
}

#box2 .tab {
  width: 50px;
  height: 300px;
  position: absolute;
  top: 20px;
  left: -40px;
}

#box2 #buscar-materia-content {
  width: 500px;
  text-align: center;
}

#box2 #buscar-materia-content h3 {
  margin: 0;
  font-weight: normal;
  font-size: 32px;
}

#box2 #buscar-materia-content #textCuatri {
  font-size: 16px;
  color: green;
}

#box2 #buscar-materia-content #buscar {
  width: 400px;
}

#box2 #buscar-materia-content #buscadas {
  padding: 15px;
  font-size: 15px;
  text-align: left;
}

#lista {
  background: -webkit-linear-gradient(left top, rgb(211, 241, 211), rgb(111, 181, 181)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgb(211, 241, 211), rgb(111, 181, 181)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgb(211, 241, 211), rgb(111, 181, 181)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgb(211, 241, 211), rgb(111, 181, 181)); /* Standard syntax */
  opacity: 0.8;
  width: 500px;
  height: 600px;
  position: absolute;
  top: 30px;
  right: -488px;
  border-style: solid;
  border-radius: 15px 0px 15px 15px;
  border-color: rgb(63,159,80);
  border-width: 2px;
  z-index:4;
}

#lista .tab {
  width: 50px;
  height:300px;
  position: absolute;
  top: 280px;
  left: -40px;
}

#lista #listaInfo {
  padding: 5px;
  height:580px;
  overflow: auto;
}

che {
  color: darkred;
  text-decoration: underline;
  text-transform: capitalize;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
  cursor: pointer;
}

#resizeDiv {
  position: absolute;
  opacity: 0.7;
  width: 6px;
  height: 90.4%;
  top: 10px;
  left: 90%;
  background-color: rgb(150,150,150);
  cursor: w-resize;
  z-index:3;
}

#cHTab {
  background: -webkit-linear-gradient(left top, rgb(211, 211, 241), rgb(181, 181, 181)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgb(211, 211, 241), rgb(181, 181, 181)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgb(211, 211, 241), rgb(181, 181, 181)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgb(211, 211, 241), rgb(111, 181, 181)); /* Standard syntax */
  border-color: rgb(0, 0, 180);
  width: 450px;
  height: 450px;
  position: absolute;
  top: 100px;
  left: 250px;
  border-style: solid;
  border-radius: 15px 15px 15px 15px;
  border-width: 2px;
  text-align: center;
  text-decoration: underline;
  color: rgb(0, 0, 175);
  visibility: hidden;
  z-index: 3;
}

#cHTab h3 {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: inherit;
}

#cHTab #cHDesc {
  width: 200px;
}

#cHTab #cHButtons {
  position: absolute;
  left: 180px;
  top: 400px;
}

#editMatTab {
  background: -webkit-linear-gradient(left top, rgb(211, 211, 211), rgb(181, 181, 181)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgb(211, 211, 211), rgb(181, 181, 181)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgb(211, 211, 211), rgb(181, 181, 181)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgb(211, 211, 211), rgb(111, 111, 111)); /* Standard syntax */
  width: 700px;
  height: 520px;
  position: absolute;
  top: 70px;
  left: 100px;
  border-style: solid;
  border-radius: 15px 15px 15px 15px;
  border-color: rgb(20,20,20);
  border-width: 2px;
  font-size: 14px;
  text-align: center;
  color: white;
  visibility: hidden;
  z-index: 3;
}

#editMatTab textarea {
  opacity: 0.65;
  resize: none;
}

#menu {
  background: -webkit-linear-gradient(left top, rgb(241, 181, 181), rgb(181, 181, 181)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgb(241, 181, 181), rgb(181, 181, 181)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgb(241, 181, 181), rgb(181, 181, 181)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgb(241, 181, 181), rgb(255, 255, 255)); /* Standard syntax */
  width: 120px;
  border-style: solid;
  border-radius: 0px 15px 15px 0px;
  border-color: rgb(160, 60, 60);
  border-width: 4px;
  position: absolute;
  top: 60px;
  left: -122px;
  opacity: 0.9;
  z-index: 4;
}

#menu .tab {
  width: 52px;
  height: 318px;
  position: absolute;
  top: -5px;
  left: 110px;
}

ul#menu {
  list-style-type: none;
  margin: 0;
  padding: 40px 0px;
}

ul#menu li {
  padding: 14px 4px;
  text-align: center;
  color: rgb(101, 9, 9);
  cursor: pointer;
}

ul#menu li:hover {
  background-color: rgb(101, 9, 9);
  color: white;
}

#menu #but5_sub {
  position: absolute;
  top: 250px;
  left: 120px;
  visibility: hidden;
}

ul#but5_sub {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul#but5_sub li {
  width: 140px;
  height: 40px;
  padding: 0px 5px;
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  cursor: pointer;
  text-align: center;
  color: rgb(101, 9, 9);
}

ul#but5_sub li:last-child {
  border-width: 1px 1px 1px 1px;
}

ul#but5_sub li:hover {
  background-color: rgb(101, 9, 9);
  color: rgb(255, 255, 255);
}

/******************************************************************************
 * Color classes
 ******************************************************************************/

.dark-red {
  color: darkred;
}

.text-dark-gray {
  color: #323232;
}

/******************************************************************************
 * Helper classes
 ******************************************************************************/

/* Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/* Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}
