/******************
 * General styles *
 ******************/

html {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
  max-width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Times New Roman", "FreeSerif", "Nimbus Roman No9 L";
}

a {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
  cursor: pointer;
}

a:link {
  color: green;
}

a:visited {
  color: green;
}

a:hover {
  color: rgb(9, 53, 201);
}

a:active {
  color: yellow;
}

/*****************
 * Site elements *
 *****************/

#site-background {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -5;
}

#app-info {
  position: absolute;
  top: 93%;
  left: 1%;
  margin: auto;
  font-size: 12px;
}

#divComb {
  position: absolute;
  top: 91%;
  left: 21%;
  text-align: center;
}

#msgBox {
  position: absolute;
  left: 40%;
  top: 93%;
  visibility: hidden;
}

#msgBox #msg {
  margin: auto;
  font-size: 20px;
  text-align: center;
}

#cellDesc {
  position: absolute;
  left: 40%;
  top: 92%;
}

#cellDesc #descText {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
  font-size: 13px;
  color: darkblue;
  cursor: default;
}

#box2 {
  background: -webkit-linear-gradient(left top, rgb(211, 211, 241), rgb(111, 181, 181)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgb(211, 211, 241), rgb(111, 181, 181)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgb(211, 211, 241), rgb(111, 181, 181)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgb(211, 211, 241), rgb(111, 181, 181)); /* Standard syntax */
  opacity: 0.9;
  width: 500px;
  height: 600px;
  border-style: solid;
  border-radius: 15px 0px 15px 15px;
  border-color: rgb(29,173,221);
  border-width: 2px;
  position: absolute;
  top: 30px;
  right: -488px;
  z-index:4;
}

#box2 .tab {
  width: 50px;
  height: 300px;
  position: absolute;
  top: 20px;
  left: -40px;
}

#box2 #buscadas {
  padding: 15px;
  font-size: 15px;
}

#lista {
  background: -webkit-linear-gradient(left top, rgb(211, 241, 211), rgb(111, 181, 181)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgb(211, 241, 211), rgb(111, 181, 181)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgb(211, 241, 211), rgb(111, 181, 181)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgb(211, 241, 211), rgb(111, 181, 181)); /* Standard syntax */
  opacity: 0.8;
  width: 500px;
  height: 600px;
  position: absolute;
  top: 30px;
  right: -488px;
  border-style: solid;
  border-radius: 15px 0px 15px 15px;
  border-color: rgb(63,159,80);
  border-width: 2px;
  z-index:4;
}

#lista .tab {
  width: 50px;
  height:300px;
  position: absolute;
  top: 280px;
  left: -40px;
}

#lista #listaInfo {
  padding: 5px;
  height:580px;
  overflow: auto;
}

che {
  color: darkred;
  text-decoration: underline;
  text-transform: capitalize;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
  cursor: pointer;
}

msgText {
  color: green;
  text-decoration: underline;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
  cursor: pointer;
}

msgAlert {
  color: maroon;
  text-decoration: underline;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
  cursor: pointer;
}

#cHTab {
  background: -webkit-linear-gradient(left top, rgb(211, 211, 241), rgb(181, 181, 181)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgb(211, 211, 241), rgb(181, 181, 181)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgb(211, 211, 241), rgb(181, 181, 181)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgb(211, 211, 241), rgb(111, 181, 181)); /* Standard syntax */
  border-color: rgb(0, 0, 180);
}

cHText {
  color: rgb(0, 0, 175);
  text-decoration: underline;
}

input.carcheck {
  background-color: #d1d1d1;
}

#menu {
  background: -webkit-linear-gradient(left top, rgb(241, 181, 181), rgb(181, 181, 181)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgb(241, 181, 181), rgb(181, 181, 181)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgb(241, 181, 181), rgb(181, 181, 181)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgb(241, 181, 181), rgb(255, 255, 255)); /* Standard syntax */
  border-radius: 0px 15px 15px 0px;
  border-style: solid;
  border-color: rgb(160, 60, 60);
  border-width: 4px;
  opacity: 0.9;
}

#editMatTab {
  background: -webkit-linear-gradient(left top, rgb(211, 211, 211), rgb(181, 181, 181)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgb(211, 211, 211), rgb(181, 181, 181)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgb(211, 211, 211), rgb(181, 181, 181)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgb(211, 211, 211), rgb(111, 111, 111)); /* Standard syntax */
}

#menuLabel {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
  cursor: default;
}

#svgLista {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
  cursor: default;
}

#svgBox2 {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
  cursor: default;
}

div.leftMenu {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
  cursor: pointer;
  text-align: center;
  color: rgb(101, 9, 9);
}

div.leftMenu2 {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  text-align: center;
  color: rgb(101, 9, 9);
}

div.leftMenu:hover {
  background-color: rgb(101, 9, 9);
  color: rgb(255, 255, 255);
}

div.leftMenu2:hover {
  background-color: rgb(101, 9, 9);
  color: rgb(255, 255, 255);
}
